<div class="container">
  <h1>Curiosity Images</h1>
  <p>Launched: {{ rover?.launch_date }} | Landed: {{ rover?.landing_date }} | Max Sol: {{ rover?.max_sol }}</p>

  <section class="FilterBar">
    <div class="FilterBar-inputGroup">
      <label class="FilterBar-label" for="cameras-select">Cameras</label>
      <button class="FilterBar-cameraDropdownButton" (click)="toggleDropdown()">
        {{ cameras?.length }} Selected <span class="FilterBar-caret">&#9660;</span>
      </button>
      <ul class="FilterBar-cameraDropdown" [class.active]="dropdownActive">
        <li class="FilterBar-cameraDropdownItem" *ngFor="let camera of cameras">
          <input
            class="FilterBar-cameraDropdownInput"
            type="checkbox"
            checked
            name="{{ camera.name }}"
            id="{{ camera.name }}"
            (change)="toggleCamera($event.target.name)"
          />
          <label class="FilterBar-cameraDropdownLabel" for="{{ camera.name }}">{{ camera.full_name }}</label>
        </li>
      </ul>
    </div>

    <div class="FilterBar-inputGroup">
      <label class="FilterBar-label" for="sol-input">Sol</label>
      <input class="FilterBar-input" [formControl]="solInput" (change)="updateSol($event.target.value)" type="number" min="0" max="{{ rover?.max_sol }}">
    </div>
  </section>

  <section class="CameraCards" *ngIf="sortedPhotos">
    <div class="CameraCard" *ngFor="let camera of filterPhotos">
      <h3 class="CameraCard-title">{{ camera.full_name }}</h3>
      <p class="CameraCard-photoCount">Photos: {{ sortedPhotos[camera.name].length }}</p>
      <div class="CameraCard-photoBlock" *ngIf="sortedPhotos[camera.name].length > 0">
        <p>Sample photo:</p>
        <img class="CameraCard-photo" src="{{ sortedPhotos[camera.name][0].img_src }}" />
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>